{% extends 'port/base.html' %}

{% load static %}
{% block content %}
<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">Bulli has reviewed 1000s of sasta movies</h3>

{% for review in reviews %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    
      <a href="{% url 'detail' review.id %}"><h2><strong>{{ review.title }} | {{ review.rating }} stars</strong></h2></a>
   
    <h5 class="text-muted">{{ review.date|date:'M d Y'|upper }}</h5>
    <h4>{{ review.description|striptags|truncatechars:100 }}</h4><hr>
  </div>
</div>

{% endfor %}
{% endblock content %}
    
